.tooltip {
    position: relative;
}

.tooltip:after {
    content: attr(data-tip);
    font-size: 10px;
    position: absolute;
    bottom: 9999px;
    left: 50%;
    z-index: 90099;
    white-space: nowrap;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.tooltip:hover:after {
    opacity: 1;
    bottom: -35px;
}
